.pageHeader {
    display: flex;
    align-items: center;
    button {
        border: 1px solid #d2d2d2;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        color: #616161;
        outline: 0;
        &:hover {
            background: linear-gradient(to bottom, #ffffff 0%, #e5e8ee 100%);
        }
    }
}