.bookingTicketPage {
    :global .col-left {
        width: 65%;
    }
    :global .col-right {
        width: 35%;
    }
}

@media screen and (max-width: 950px) {
    .bookingTicketPage {
        :global .col-left {
            width: 100%;
        }
        :global .col-right {
            width: 100%;
        }
    }
    
}