.movieDetailShowTimeStyle {
    :global .movieDetailShowTimeContent {
        
        width: 100%;

        .no-gutter {
            background-color: #ffffff;
            margin-right: 0;
            margin-left: 0;
            & > [class*='col-'] {
                padding-right:0;
                padding-left:0;
            }
        }

        .rwt__tabs[data-rwt-vertical="true"] {
            display: block;
        }

        .columnFirst {
            height: 705px;
            margin-right: 0;
            overflow-y: hidden;
            border: 1px solid #ebebec;
            &:hover {
                overflow-y: auto;
            }
            .cinemasGroup {
                display: block;
                margin-right: 0;
                border-right-color: transparent;
                .cinemasGroupItem {
                    width: 100%;
                    background: #ffffff;
                    display: inline-block;
                    padding: 20px;
                    cursor: pointer;
                    border: none;
                    position: relative;
                    transition: all 0.2s;
                    &:hover {
                        .cinemasGroupItemFlex {
                            .cinemaImg {
                                opacity: 1;
                            }
                        }
                    }
                    &[aria-selected="true"] {
                        &::after {
                            border-right: transparent;
                        }
                        .cinemasGroupItemFlex {
                            .cinemaImg {
                                opacity: 1;
                            }
                        }
                    }
                    .cinemasGroupItemFlex {
                        display: flex;
                        align-items: center;
                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            width: 85%;
                            transform: translateX(-50%);
                            border-bottom: 1px solid #ffffff;
                            border-color: rgba(238,238,238,0.8);
                        }
                        .cinemaImg {
                            width: 50px;
                            margin-right: 10px;
                            opacity: 0.4;
                        }
                        .cinemaName {
                            font-size: 16px;
                            color: #000000;
                        }
                    }
                }
            }
        }

        .columnSecond {
            height: 705px;
            margin-right: 0;
            overflow-y: hidden;
            border: 1px solid #ebebec;
            border-left: transparent;
            &:hover {
                overflow-y: auto;
            }
            .listDayOfWeek {
                .dateSelect {
                    padding: 1rem;

                    &[aria-selected="true"] {
                        color: #fb4226;
                        font-weight: bold;
                        &::after {
                            border-bottom: none;
                        }
                    }
                    p {
                        margin-bottom: 5px;
                    }
                }
            }

            .movieItem {
                float: left;
                clear: both;
                padding-bottom: 17px;
                padding-top: 20px;
                padding-right: 15px;
                padding-left: 20px;
                width: 100%;
                position: relative;
                margin-bottom: 0;
                border: none;
                box-shadow: none;
                -webkit-box-shadow: none;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 90%;
                    transform: translateX(-50%);
                    border-bottom: 1px solid #ccc;
                    border-color: rgba(238,238,238,.88);
                }
                .movieInfo {
                    float: left;
                    clear: both;
                    cursor: pointer;
                    width: 100%;
                    .movieImage {
                        width: 50px;
                        float: left;
                        height: 50px;
                        object-fit: cover;
                    }
                    .wrapInfo {
                        width: 100%;
                        padding-left: 65px;
                        padding-top: 6px;
                        .movieAgeType {
                            background-color: #fb4226;
                            color: #fff;
                            border-radius: 4px;
                            padding: 0 5px;
                            float: left;
                            margin-right: 5px;
                            font-size: 12px;
                            min-width: 33px;
                            text-align: center;
                        }
                        .movieName {
                            font-size: 14px;
                            font-weight: bold;
                            display: block;
                            line-height: 22px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            color: #8bc541;
                        }
                        p {
                            margin: 0;
                            text-align: left;
                            line-height: 1.7;
                            font-size: 12px;
                            color: #9b9b9b;
                        }
                    }
                    .movieSessions {
                        float: left;
                        clear: both;
                        width: 100%;
                        transition: height .3s ease-in-out;
                        .movieListTime {
                            float: left;
                            width: 100%;
                            padding-top: 15px;
                            display: block;
                            .movieType {
                                float: left;
                                width: 100%;
                                font-size: 18px;
                                font-weight: bold;
                                color: #000;
                                margin-bottom: 5px;
                                text-align: left;
                            }
                            .movieSession {
                                .showTimeDetail {
                                    float: left;
                                    margin: 0 10px 10px 0;
                                    padding: 5px 25px;
                                    transition: all .2s;
                                    text-decoration: none;
                                    display: block;
                                    text-align: center;
                                    background-color: rgba(246,246,246,.5);
                                    border-radius: 7px;
                                    color: #9b9b9b;
                                    border: 1px solid #e4e4e4;
                                    cursor: pointer;
                                    &:hover {
                                        .movie-time {
                                            color: #fb4226;
                                        }
                                    }
                                    .movie-time {
                                        font-size: 18px;
                                        font-weight: bold;
                                        color: #108f3e;
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}